[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/ubuntu/.vim/bundle/vim-javascript-syntax"]
	path = /home/ubuntu/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "~/.vim/bundle/vim-fugitive"]
	path = ~/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/csexton/snipmate.vim.git
