[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/ubuntu/.vim/bundle/vim-javascript-syntax"]
	path = /home/ubuntu/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
